In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2955 sha256=cb4babb0ca8091f422014537159c6edda715a65353f5d67151d3f45a77e08790
  Stored in directory: /root/.cache/pip/wheels/f8/e0/3d/9d0c2020c44a519b9f02ab4fa6d2a4a996c98d79ab2f569fa1
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [ ]:
import sklearn
import pandas as pd

data_url = "http://lib.stat.cmu.edu/datasets/boston"
df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None, names=["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"])

# Extract the feature matrix (X) and target vector (y) from the DataFrame
X = df.drop("MEDV", axis=1)
y = df["MEDV"]

df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.00,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,NaN,NaN,NaN
1,396.90000,4.98,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02731,0.00,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,NaN,NaN,NaN
3,396.90000,9.14,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02729,0.00,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,NaN,NaN,NaN

In [ ]:
compression_opts = dict(method ='zip', archive_name ='out.csv')
df.to_csv('out.zip', index=False, compression = compression_opts)

In [ ]:
print(load_boston.DESCR)

In [ ]:
print(df.shape)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
sns.pairplot(df, height=2.5)
plt.tight_layout()

In [ ]:
sns.distplot(df['SalePrice'])

In [ ]:
print("skeweness : %f" % df['SalePrice'].skew())
print("kurtosis : %f" % df['SalePrice'].kurt())

In [ ]:
fig, ax  = plt.subplots()
ax.scatter(x= df['CRIM'], y=df['SalePrice'])
plt.ylabel('SalePrice', fontsize=13)
plt.xlabel('CRIM',fontsize=13)
plt.show()

In [ ]:
fig, ax = plt.subplots()
ax.scatter(x=df['AGE'], y=df['SalePrice'])
plt.ylabel('SalePrice', fontsize=13)
plt.xlabel('AGE', fontsize=13)
plt.show()

In [ ]:
from scipy import stats
from scipy.stats import norm, skew

sns.distplot(df['SalePrice'], fit=norm)

(mu , sigma) = norm.fit(df['SalePrice'])
print('\n mu= {:.2f} and sigma = {:.2f}\n'.format(mu,sigma))

plt.legend(['Norml dist.($\mu$ {:.2f} and $sigma=$ {:.2f} )'.format(mu,sigma)], loc='best')
plt.ylabel('Frequency')
plt.xlabel('SalePrice')

fig = plt.figure()
res= stats.probplot(df['SalePrice'], plot=plt)
plt.show()

In [ ]:
df['SalePrice'] = np.log1p(df['SalePrice'])

sns.distplot(df['SalePrice'], fit=norm)

(mu , sigma) = norm.fit(df['SalePrice'])
print('\n mu= {:.2f} and sigma = {:.2f}\n'.format(mu,sigma))

plt.legend(['Norml dist.($\mu$ {:.2f} and $sigma=$ {:.2f} )'.format(mu,sigma)], loc = 'best')
plt.ylabel('Frequency')
plt.xlabel('SalePrice')

fig = plt.figure()
res= stats.probplot(df['SalePrice'], plot=plt)
plt.show()

In [ ]:
plt.figure(figsize=(10,10))
#corr = df.corr()
sns.heatmap(df.corr(), annot=True, cmap=plt.cm.PuBu)
plt.show()

In [ ]:
cor_target = abs(corr['SalePrice'])

relevant_features = cor_target[cor_target>0.2]

names = [index for index, value in relevant_features.iteritems()]

names.remove('SalePrice')

print(names)
print(len(names))

In [ ]:
from sklearn.model_selection import train_test_split

x=df.drop('SalePrice', axis=1)
y=df['SalePrice']
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

In [ ]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()
lr.fit(X_train, Y_train)

In [ ]:
predictions=lr.predict(X_test)

print("Actual value of the house is : ",Y_test[0])
print("Model prediction is : ",predictions[0])

In [ ]:
from sklearn.metrics import mean_squared_error , accuracy_score

mse = mean_squared_error(Y_test, predictions)
rmse=np.sqrt(mse)
print(rmse)
score = accuracu_score(Y_test,predictions)
print(score)